/* Fonts */

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Fira Sans', sans-serif; */

/* General styles */


html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	min-width: 320px;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow-x: hidden;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.bold {
	font-weight: 700;
}

/* Header */

header {
	position: relative;
}
.header-nav {
	position: absolute;
	z-index: 1001;
	width: 100%;
	margin-top: 30px;
}
.logo {
	float: left;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.logo a {
	color: #FFF;
	font-size: 20px;
	text-shadow: 1px 3px 5px rgba(0, 0, 0, .45);
	display: inline-block;
}
span.accent-color {
	margin-top: 2px;
	display: inline-block;
	font-family: 'Fira Sans', sans-serif;
	color: #FFEA00;
	font-size: 48px;
	text-transform: uppercase;
}
.mob-menu-icon, .nav-menu {
	float: right;
}
.mob-menu-icon {
	display: none;
	cursor: pointer;
}
.mob-menu-icon > div {
	width: 30px;
	height: 3px;
	background-color: #FFEA00;
	margin-top: 5px;
	-webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, .45);
	        box-shadow: 1px 3px 5px rgba(0, 0, 0, .45);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1;
}
.mob-menu-icon.open div:nth-child(1) {
	        -webkit-transform: rotate(45deg) translate(9px, 6px);
	            -ms-transform: rotate(45deg) translate(9px, 6px);
	                transform: rotate(45deg) translate(9px, 6px);
}
.mob-menu-icon.open div:nth-child(2) {
	opacity: 0;
}
.mob-menu-icon.open div:nth-child(3) {
	        -webkit-transform: rotate(-45deg) translate(4px, -2px);
	            -ms-transform: rotate(-45deg) translate(4px, -2px);
	                transform: rotate(-45deg) translate(4px, -2px);
}
.nav-menu {
	text-align: right;
}
.nav-menu ul {
	margin: 0;
	padding: 0;
	text-align: right;
	margin-bottom: 27px;
}
.nav-menu li {
	list-style-type: none;
	display: inline-block;
}
.nav-menu li a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #011;
	text-transform: uppercase;
	display: block;
}
.divider {
	width: 2px;
	height: 22px;
	background-color: #fff;
	margin: 0 26px;
	cursor: none;
}
.call-button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #F9BF3A;
	font-size: 18px;
	display: inline-block;
	padding: 14px 48px;
	background-color: #FFF;
	-webkit-border-radius: 23px;
	        border-radius: 23px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.call-button:hover {
	color: #FFF;
	background-color: #F9BF3A;
}
.main-slider {
	position: relative;
}
.slide {
	min-height: 100vh;
	-webkit-background-size: cover;
	        background-size: cover;
	background-position: center;
}
.slick-arrow {
	position: absolute;
	top: 40%;
	border: none;
	background-color: transparent;
	font-size: 0;
	z-index: 1001;
	outline: none;
}
.main-slider .slick-prev {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-left: 100px solid #fff;
	border-bottom: 100px solid transparent;
	left: 0;
}
.main-slider .slick-prev:after {
	content: url('../img/slider-left.jpg');
	position: absolute;
	top: -15px;
	left: -80px;
}
.main-slider .slick-prev:hover:after {
	content: url('../img/slider-left-hover.jpg');
}
.main-slider .slick-next {
	right: 0;
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-right: 100px solid #fff;
	border-bottom: 100px solid transparent;
}
.main-slider .slick-next:after {
	content: url('../img/slider-right.jpg');
	position: absolute;
	top: -15px;
	left: 40px;
}
.main-slider .slick-next:hover:after {
	content: url('../img/slider-right-hover.jpg');
}

/* Section info */

.info {
	font-size: 0;
	background-color: #FFF;
}
.column {
	display: inline-block;
	vertical-align: top;
}
.col-left {
	width: 78%;
	padding-top: 85px;
	padding-right: 100px;
}
.col-left h2, .address h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #222;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	margin-bottom: 70px;
}
.col-left h2:after, .address h2:after {
	content: "";
	position: absolute;
	background-color: #ffea00;
	height: 4px;
	width: 3000px;
	right: 0;
	top: 60px;
	display: inline-block;}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #222;
	line-height: 1.8;
	margin-bottom: 30px;
	text-align: justify;
}
.col-right {
	width: 22%;
	background-color: #F5F5F5;
	font-size: 16px;
	padding: 85px 0 85px 20px;
	position: relative;
}
.col-right:after {
	position: absolute;
	content: "";
	height: 100%;
	background-color: #F5F5F5;
	width: 2000px;
	right: -2000px;
	top: 0;

}
.col-right h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #222;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.col-right p {
	margin-bottom: 3px;
}

.address {
	padding-top: 85px;
}
.address p {
	position: relative;
	padding-left: 35px;

 }
 .marker {
 	position: absolute;
 	left: 0;
 }

/* Map */

#map {
	height: 430px;
}

/* Footer */

footer{
	background-color: #FFF;
}
.copyright {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #777;
	padding: 30px 0;
}

/* Modal window */

.modals {
	position: fixed;
	background: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: none;
}
.modal-content {
	width: 310px;
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 30%;
	margin: auto;
	background: rgba(255, 255, 255, 0.7);
	border: 1px solid #9E9E9E;
	padding: 15px;
}
.close-modal {
    position: absolute;
    top: 7px;
    right: 7px;
    color: #ddd;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
}
.modal-content h3 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 22px;
    font-weight: 400;
    margin: 18px 0;
}
.modal-content input {
	width: 100%;
	margin-bottom: 5px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
    height: 32px;
    line-height: 32;
    font-family: 'Roboto', sans-serif;
    color: #000;
}
.modal-content input:last-of-type {
	margin-bottom: 15px;
}
.text-center {
    text-align: center;
}
.modal-content button {
	background-color: #333;
	color: #e0a622;
	padding: 8px 20px;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	border: none;
}


